recursive-include physiolabxr/_ui *
recursive-include physiolabxr/_media *
recursive-include physiolabxr/_Presets *

# Exclude any __pycache__ directories
global-exclude __pycache__

# Exclude .git directories and files
global-exclude .git

# Exclude macOS .DS_Store files
global-exclude .DS_Store