brainflow
numpy ~= 1.26.0
PyQt6
pyserial
pylsl
scikit-learn
scipy~=1.11.0
pyqtgraph
pyxdf
pyscreeze
opencv-python
pyzmq
setuptools
psutil
pytest-qt
numba
PyOpenGL
PyOpenGL_accelerate
soundfile
matplotlib
imblearn
toml