brainflow
numpy ~= 1.26.0
PyQt6
pyserial
pylsl
scikit-learn
scipy~=1.11.0
git+https://github.com/wutwasthat/pyqtgraph.git@physio
pyxdf
pyscreeze
opencv-python
pyzmq
setuptools
psutil
pytest-qt
numba
PyOpenGL
PyOpenGL_accelerate
soundfile
matplotlib
imblearn
toml
git+https://github.com/pybluez/pybluez.git#egg=pybluez
grpcio
grpcio-tools
