brainflow
numpy ~= 1.26.0
PyQt6
pyserial
pylsl
scikit-learn
scipy~=1.11.0
git+https://github.com/wutwasthat/pyqtgraph.git@physio
pyxdf
pyscreeze
opencv-python
pyzmq
setuptools
psutil
numba
PyOpenGL
PyOpenGL_accelerate
soundfile
matplotlib
imblearn
toml
